@CHARSET "UTF-8";
body{
	background-color: rgb(46,94,121);
}
#up{
	height:700px;
	border-bottom:1px solid #f0f0f0;
}
#h_login{
	margin-left:35%;
	width:550px;
	height:80px;
}
#h_login img{
	max-width:100%;
	max-height:100%;
}
#login{
	width:450px;
	height:500px;
	margin-left:60px;
	margin-top:60px;
	float:left;
	background-color:#6CA6CD;
}
#login_left{
	float:left;
	margin-left:200px;
	width:700px;
	height:700px;
}
#login_left img{
	max-width:100%;
	max-height:100%;
}
table{
	margin-left: 40px;
	margin-top: 20px;
	position:absolute;
}
#btn{
	width:250px;
	height:40px;
	background-color:#dc3c00;
	line-height:40px;
	text-align:center;
	margin-left:60px;
	margin-top:400px;
	font-size:20px;
	color:#FFFFFF;
	border:0;

}
#btn:hover{
	background-color:#b43200;
	cursor:pointer;
}
span{
	color:#DEDEDE;
	font-size:18px;
	margin-left:100px;
}
#wb1{
	margin-left:260px;
}
.errormsg{
	font-size:18px;
	color:red;
}
